.clients-section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.clients-list {
  color: $icons-default-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;

  @media screen and(min-width: $pc) {
    flex-wrap: nowrap;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $icons-default-color;
    transition: $border-color-transition;
    border-radius: 4px;

    @media screen and(max-width: 767px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and(min-width: $tablet) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }

    @media screen and(min-width: $pc) {
      width: calc((100% - 6 * 30px) / 6);
      margin: 15px;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 52px;
    padding-right: 52px;
    color: inherit;

    @media screen and(min-width: $tablet) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media screen and(min-width: $pc) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__icon {
    fill: currentColor;
    transition: $fill-transition;
    width: 106px;
    height: 60px;
  }

  &__item:hover &__icon,
  &__item:hover {
    fill: $accent-color;
    border-color: $accent-color;
  }

  &__link:focus &__icon,
  &__link:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
