.features-list {
  @media screen and(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and(min-width: $tablet) {
      flex-wrap: nowrap;
    }

  &__item:not(:last-child) {
    @media screen and(max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    @media screen and(min-width: $tablet) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    &__item {
    @media screen and(min-width: $tablet) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }
  }

  &__decoration {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 4px;
    background-color: $secondary-bg-fill;
    margin-bottom: 30px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}
