.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $underlay-bg-color;
}

.footer-wrapper {
  @media screen and(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and(min-width: $pc) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-address {
  text-align: center;
  // width: 231px;

  @media screen and(min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__follow {
  text-align: center;
  margin-bottom: 60px;

  @media screen and(min-width: $pc) {
    margin-bottom: 0;
    text-align: start;
  }
}

.subsribe-form {
  text-align: center;
  display: block;
}

.footer__subscription-wrapper {
  @media screen and(min-width: $pc) {
    display: flex;
  }
}

.subsribe-form__input {
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  @media screen and(min-width: $tablet) {
    width: 450px;
  }

  @media screen and(min-width: $pc) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__follow-title {
  display: block;
  color: $white-color;
  font-family: 'Roboto';
  font-weight: $fw-bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subsribe-form.footer__follow-title {
  @media screen and(min-width: $pc) {
    display: block;
  }
}

.address {
  color: $white-color;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 60px;

  @media screen and(min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo__footer {
  margin-bottom: 20px;
  display: block;
}

.address__street {
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-contacts__item + .footer-contacts__item {
  margin-top: 8px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 1.71;
}

.made-by {
  display: block;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.footer-socials__icon {
  fill: $white-color;
}

.footer__socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: $bgc-transition;
}

.footer__socials-link:hover,
.footer__socials-link:focus {
  background-color: $accent-color;
}

.footer__subscribe {
  @media screen and(min-width: $pc) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 60px;
}

.footer__button-icon {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  fill: $white-color;
}
