.header {
  position: relative;
  width: 100%;
  background-color: $white-color;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.header__wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(min-width: $tablet) {
    height: 80px;
  }
}

.header__icon-burger {
  display: block;
  width: 40px;
  height: 40px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav__link,
.main-nav__contacts-link,
.footer__contacts-link {
  display: block;
  font-family: 'Roboto';
  color: $default-text-color;
  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: $color-transition;
}

.site-nav {
  @media screen and(max-width:767px) {
    display: none;
  }

  display: flex;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  padding: 32px 0;
}

.site-nav__link.current {
  color: $accent-color;
}

.site-nav__link.current::after {
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  height: 4px;
  width: 100%;
  background-color: $accent-color;
}

.site-nav__link:hover,
.site-nav__link:focus,
.main-nav__contacts-link:hover,
.main-nav__contacts-link:focus {
  color: $accent-color;
}

.main-nav__contacts {
  display: flex;
  justify-content: center;

  margin-left: auto;
}

.main-nav__contacts-item + .main-nav__contacts-item {
  @media screen and(max-width: 1199px) {
    margin-top: 10px;
  }

  @media screen and(min-width: $pc) {
    margin-left: 30px;
  }
}

.main-nav__contacts {
  @media screen and(max-width:767px) {
    display: none;
  }

  display: flex;
  flex-direction: column;
  margin-left: auto;

  @media screen and(min-width:$pc) {
    flex-direction: row;
    align-items: center;
  }

  &-item {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    padding: 0;
  }

  &-link {
    display: flex;
    align-items: center;
    color: $paragraph-color;

    @media screen and(min-width: $pc) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.contacts-icon {
  fill: $paragraph-color;
  transition: $fill-transition;
  margin-right: 10px;
}

.contacts-icon__envelope {
  width: 14px;
  height: 10px;

  @media screen and(min-width: $pc) {
    width: 16px;
    height: 12px;
  }
}

.contacts-icon__smartphone {
  width: 10px;
  height: 14px;

  @media screen and(min-width: $pc) {
    width: 10px;
    height: 16px;
  }
}

.main-nav__contacts-link:hover .contacts-icon__envelope,
.main-nav__contacts-link:hover .contacts-icon__smartphone,
.main-nav__contacts-link:focus .contacts-icon__envelope,
.main-nav__contacts-link:focus .contacts-icon__smartphone {
  fill: $accent-color;
}

.mobile-menu__button {
  border: none;
  background-color: transparent;
  width: auto;

  @media screen and(min-width:$tablet) {
    display: none;
  }
}

.mobile-menu__button .icon-mobile__close {
  display: none;
}

.mobile-menu__button.is-open .icon-mobile__close {
  display: block;
}

.mobile-menu__button.is-open .icon-mobile__burger {
  display: none;
}
