.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background: $underlay-bg-color;
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1600px;
  height: 400px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.6),
      rgba(47, 48, 58, 0.2)
    ),
    url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: right 50% top 50%;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/hero2x.jpg');
  }
  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/hero-tablet.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../../images/hero-tablet2x.jpg');
    }
  }

  @media screen and (min-width: $pc) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/hero-desktop.jpg');
    min-height: 600px;
    padding: 200px 0px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min--moz-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../../images/hero-desktop2x.jpg');
    }
  }
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: $white-color;
  font-family: 'Roboto';
  font-weight: $fw-black;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  min-width: 200px;
  margin: 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
