.hero {
  background: $underlay-bg-color;
  text-align: center;
  margin: 0 auto;

  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(47, 48, 58, 0.6),
  //     rgba(47, 48, 58, 0.2)
  //   ),
  //   url(../../images/Imghero.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: $white-color;
  font-family: 'Roboto';
  font-weight: $fw-black;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  min-width: 200px;
  margin: 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
