.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: $pc) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-alternative-background {
  background-color: $secondary-bg-fill;
}

.section.doings {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 0;
}
