.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &.hero {
    padding-top: calc(118px + 60px);
    padding-bottom: 118px;

    @media screen and(min-width: $tablet) {
      padding-top: calc(118px + 80px);
    }
  }
}
